html {
    min-width: 800px;
    overflow-x: hidden;
}

header{
    height: 80px;
    background-color: white;
}

.heading li {
    color: black;
    font-family: Avenir;
    display: inline-block;
    list-style: none;
    text-decoration: none;
    float: left;
    cursor: pointer;
}

.menu {
    margin-right: 1%;
}

.menu li {
    margin: 20px;
    font-family: Avenir;
    display: inline-block;
    list-style: none;
    text-decoration: none;
    float: right;
}

.menu li div {
    -webkit-transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    -ms-transition: all .4s ease-in;
    transition: all .4s ease-in;
    font-size: large;
}

.pageButton {
    font-weight: bold;
    color: black;
    padding: 10px;
    border-bottom: 3px solid white;
    
}

.pageButton:hover {
    cursor: pointer;
    background-color: white;
    padding: 10px;
    border-bottom: 3px solid #26594d;
}

.loginButton {
    font-weight: bold;
    color: #26594d;
    background-color: white;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 3px solid white;
}

.loginButton:hover {
    border-bottom: 3px solid #26594d;
    cursor: pointer;
}

body {
    background-color: white;
    color: black;
}

#mainPicture {
    margin: auto;
    width: 95%;
    margin-bottom: 0;
    padding-bottom: 0;
}

#freightPic {
    width: 100%;
    max-height: 1000px;
    align-self: start;
    z-index: 1;
    position: relative;
}

#mainCaption {
    position: absolute;
    top: 170px;
    left: 50px;
    z-index: 2;
    color:white;
    padding-left: 30px;
    padding-right: 30px;
    font-family: Avenir;
    font-size: 32px;
}




#threeFeatures {
    margin: auto;
    margin-top: -25px;
    padding: 10px;
    width: 94%;
    background-image: linear-gradient(whitesmoke, white);
    height: auto;
}

#threeFeatures ul {
    width: 100%;
    height: 32vh;
    margin-left: 22.5%;
    margin-top: 2.5%;
}

#threeFeatures ul li {
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 0;
    margin-right: 3.75%;
    font-family: Avenir;
    display: inline-block;
    list-style: none;
}

#fname {
    margin: auto;
    display: block;
    height: 30px;
    margin-bottom: 7px;
    width: 60%;
}
#sname {
    margin: auto;
    display: block;
    height: 30px;
    margin-bottom: 7px;
    width: 60%;
}
#email {
    margin: auto;
    display: block;
    height: 30px;
    margin-bottom: 7px;
    width: 60%;
}
#phone {
    margin: auto;
    display: block;
    height: 30px;
    margin-bottom: 15px;
    width: 60%;
}
#submitter {
    margin: auto;
    display: block;
    height: 30px;
    width: 61.25%;
}


#footer {
    width: 100%;
    max-height: 10px;
}

.footing {
    color: black;
    font-family: Avenir;
    display: inline-flex;
    list-style: none;
    text-decoration: none;
    float: left;
    cursor: pointer;
}